:root {
  /* colors */
  --primary: rgb(119, 98, 166);
  --secondary: #7c7c7c;
  --background: rgb(255, 255, 255);
  --surface: rgb(248, 202, 146);
  --on-surface: rgb(194, 194, 194);
  /* fonts sizes and weights */
  --normal: 16px;
  --medium: 24px;
  --large: 32px;
  --extraLarge: 56px;
  --light: 400;
  --regular: 500;
  --bold: 700;
  /* rest of the vars */
  --backgroundColor: var(--background);
  --textColor: var(--on-surface);
  --borderRadius: 1rem;
  --fontSize: var(--normal);
  --fontSizeMedium: var(--medium);
  --fontSizeLarge: var(--large);
}

body {
  background: var(--backgroundColor);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
}

.header__container {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  width: 55%;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: var(--backgroundColor);
  font-weight: var(--bold);
  font-size: var(--extraLarge);
}

.header__container img {
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.header__image-background__ontop {
  z-index: 1;
  top: -1%;
  left: -3%;
}
